DJANGO_SETTINGS_MODULE=config.settings.development
SECRET_KEY=your-secret-key-here
ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=cinereserve
DB_USER=cinereserve
DB_PASSWORD=cinereserve
DB_HOST=db
DB_PORT=5432

REDIS_URL=redis://redis:6379/0

JWT_ACCESS_TOKEN_LIFETIME_MINUTES=60
JWT_REFRESH_TOKEN_LIFETIME_DAYS=7
